<button type="button" name ="button" (click)="getdata1()" >Employee1</button>
<ul class="list_group">
    <li *ngFor = "let info of info1recieved" class="list-group-item">{{info}}</li>
</ul>
<button type="button" name ="button" (click)="getdata2()" >Employee1</button>
<ul class="list_group">
    <li *ngFor = "let info of info2recieved" class="list-group-item">{{info}}</li>
</ul>
<button type="button" name ="button" (click)="getdata3()" >Employee1</button>
<ul class="list_group">
    <li *ngFor = "let info of info3recieved" class="list-group-item">{{info}}</li>
</ul>